
			/*-------------------------*/
			/* You Comments */
			/*-------------------------*/
            table tbody th a:visited,
            .site-header .main-navigation div > ul ul li.current-menu-item > a,
            .kyber-copyright .social-icons li a:hover,
			.kyber-action-box a,
			.kyber-action-style1.kyber_custom_heading_wrapper .kyber-heading-title-wrapper .heading-title:before,
			.kyber-video-box-style2.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon:before,
			.kyber-video-box-style1 .vc_icon_element.vc_icon_element-outer.kyber-play .vc_icon_element-inner .vc_icon_element-icon,
			.kyber-about-us2 .vc_custom_heading a:before,			
			.comment-list .comment-date a,
			.kyber-blog-classic blockquote:before,
			.kyber-blog-classic .social-share-button i,
			.kyber-blog-classic .entry-meta-footer .entry-meta-container i,
			h5.kyber-teammember-designation,
			.site-header .main-navigation div > ul >li.current-menu-parent > a,
			.site-header .main-navigation div > ul >li>a:hover,
			.site-header .main-navigation div > ul >li.current-menu-item > a,
			.site-header .main-navigation div > ul ul li.current_page_item > a,
			.site-header .main-navigation div > ul ul li a:hover,
			.widget_kyber_recent_entries li .kyber-post-date,
			 a:hover,
			.skincolor,
			.kyber-footer-widgets-wrapper .menu li a:before,
			.kyber-footer-widgets-wrapper .widget_contact i,
			.kyber-page-title .breadcrumb .current,
			.counter-style-1 .kyber-counter-number,
			.your-class {color: #fd972e; }
            
            .kyber-teammember-link-profiles li a:hover,
			input[type=submit]:hover,
			.comment-list a.comment-reply-link,
			.site-header ul.social-info li a:hover,
			.header-layout-2 .site-header a.search-icon.search-popup-modal:hover,
			.header-layout-2 .site-header .contact-info .contact-item i,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-title>a:before,
			.owl-dots .owl-dot.active,
			button.kyber-search-button,
			.kyber-year,
			.kyber-about-introbox:before,
			.kyber-blog-classic footer ul.social-share-icons a.icon-link,
			.kyber-blog-classic header .posted-on,
			.site-header .main-navigation div > ul ul a:hover:before,
			.col-extend-right.extend-with-primary-bg:after,
			.vc_row.kyber-bg-color-primary,
			.wpb_column.kyber-bg-color-primary > .vc_column-inner,
			.site-header .kyber-header-button a,
			.services-style-1 .kyber-service-date,
			.infobox-style-1 .kyber-infobox-icon,
			.kyber-contact-info .wpcf7-submit,
			body .vc_btn3.vc_btn3-color-white:hover,
			body .vc_btn3.vc_btn3-color-white.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-tertiary:hover,
			body .vc_btn3.vc_btn3-color-tertiary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-secondary:hover,
			body .vc_btn3.vc_btn3-color-secondary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-primary,
			body .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat,
			.related-posts.blog-style-1 .kyber-post-date,
			.post.sticky .kyber-blog-classic-inner:after,
			.wp-block-tag-cloud a:hover,
			body.search input.search-submit,
			.comment-respond .comment-form input[type=submit],
			.blog-style-1 .kyber-post-date,
			.wp-block-button__link:hover{background-color: #fd972e; }

			.post.sticky .kyber-blog-classic-inner{border-color:#fd972e;}
			.site-header .main-navigation div > ul > li > ul,
  			.site-header .main-navigation div > ul > li > ul ul {border-top-color:#fd972e;}
			.kyber-action-box a {border-bottom-color:#fd972e;}
			.kyber-blog-classic blockquote {border-left-color:#fd972e;}
			a,a:visited, h1, h2, h3, h4, h5, h6 {color: #09162a; }	
			.widget_recent_services ul li:hover a:before,
			.widget_recent_services ul li a[aria-current="page"]:before,
			.single-service .item-download a span,
			.comment-list a.comment-reply-link:hover,
			body .vc_btn3.vc_btn3-color-primary:hover,
			body .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-secondary,
			body .vc_btn3.vc_btn3-color-secondary.vc_btn3-style-flat,
			.kyber-contact-info .wpcf7-submit:hover,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a,
			.vc_row.kyber-bg-color-secondary,
			.site-header .kyber-header-button a:hover,
			.site-header .kyber-bg-color-secondary,
			body.search input.search-submit:hover,
			.comment-respond .comment-form input[type=submit]:hover,
			.wpb_column.kyber-bg-color-secondary > .vc_column-inner{background-color: #09162a; }
			body .kyber-bg-color-secondary .vc_btn3.vc_btn3-color-primary:hover,
			body .kyber-bg-color-secondary .vc_btn3.vc_btn3-color-primary:focus,
			body .kyber-bg-color-secondary .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-tertiary,
			body .vc_btn3.vc_btn3-color-tertiary.vc_btn3-style-flat,
			.post-author-box,
			.site-header .main-navigation div > ul ul a:hover:before,
			.header-layout-2 .site-header-top > .d-flex:after,
			.kyber-extend-right-bg .kyber-extend-right-col:after,
			.kyber-contact-info .infobox-style-3 i:after,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta.vc_general .vc_tta-panel-title>a:before,
			body .owl-dots .owl-dot,
			.kyber-contact-info .infobox-style-3 i:after,
			.vc_row.kyber-bg-color-tertiary,
			.wpb_column.kyber-bg-color-tertiary > .vc_column-inner{background-color: #f5f5f5; }
			.kyber-page-title {height: 350px; }
			.site-header .site-logo img {min-height: 50px; }.kyber_custom_heading_wrapper .kyber-heading-title-wrapper .heading-title { font-family: Rajdhani;font-weight: 700;line-height: 52px;font-size: 45px; }.kyber_custom_heading_wrapper .kyber-heading-subtitle-wrapper .heading-subtitle { font-family: Muli;font-weight: 600;letter-spacing: 2px;line-height: 20px;font-size: 14px; }body { font-family: Muli;font-weight: 400;line-height: 24px;font-size: 16px; }h1 { font-family: Rajdhani;font-weight: 700;letter-spacing: 0px;line-height: 50px;font-size: 46px; }h2 { font-family: Rajdhani;font-weight: 700;letter-spacing: 0px;line-height: 46px;font-size: 40px; }h3 { font-family: Rajdhani;font-weight: 700;line-height: 42px;font-size: 36px; }h4 { font-family: Rajdhani;font-weight: 700;line-height: 36px;font-size: 30px; }h5 { font-family: Rajdhani;font-weight: 700;line-height: 30px;font-size: 26px; }h6 { font-family: Rajdhani;font-weight: 700;line-height: 26px;font-size: 22px; }