
			/*-------------------------*/
			/* You Comments */
			/*-------------------------*/
             
            .infobox-style-2 .kyber-infobox-icon i,
            .infobox-style-3 .icon-number,
            .counter-style-1 .kyber-counter-icon,
            .counter-style-2 .kyber-counter-icon,
			.testimonials-style-2 .kyber-testimonial-image-container:before,
			.kyber-video-box-style2.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon:before,
			.kyber-video-box-style1 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon:before,
			.kyber-blog-classic .entry-meta-footer .entry-meta-container i,
			.kyber-blog-classic .entry-title a:hover,
			.related-posts.blog-style-1 .post-meta-item i,
			.related-posts.blog-style-1 .kyber-post-slide a:hover,
			.projects-style-1 .kyber-project-action-icons i:hover,
			.kyber-list-wrapper ul li i,
			.kyber-testimonial-rating .checked, 
			.services-style-1 .kyber-service-content a, 
			.infobox-style-3 i, 
			.counter-style-2 .kyber-counter-number, 
			.counter-style-1 .kyber-counter-number:before, 
			.counter-style-3 .kyber-counter-icon i, 
			.blog-style-1 .kyber-post-slide a:hover, 
			.blog-style-1 .post-meta-item i,
			.services-style-1 .kyber-service-content a, 
            .custom-heading-style-1 .heading-subtitle, 
            .site-header .main-navigation div > ul ul li.current-menu-item > a,
            .kyber-copyright .social-icons li a:hover,
			.kyber-action-box a,
			.kyber-action-style1.kyber_custom_heading_wrapper .kyber-heading-title-wrapper .heading-title:before,
			.kyber-video-box-style2.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon:before,
			.kyber-video-box-style1 .vc_icon_element.vc_icon_element-outer.kyber-play .vc_icon_element-inner .vc_icon_element-icon,
			.kyber-about-us2 .vc_custom_heading a:before,			
			.comment-list .comment-date a,
			.kyber-blog-classic blockquote:before,
			.kyber-blog-classic .social-share-button i,
			.kyber-blog-classic .entry-meta-footer .entry-meta-container i,
			h5.kyber-teammember-designation,
			.site-header .main-navigation div > ul >li.current-menu-parent > a,
			.site-header .main-navigation div > ul >li>a:hover,
			.site-header .main-navigation div > ul >li.current-menu-item > a,
			.site-header .main-navigation div > ul ul li.current_page_item > a,
			.site-header .main-navigation div > ul ul li a:hover,
			.widget_kyber_recent_entries li .kyber-post-date,
			 a:hover,
			.skincolor,
			table th a,
			table tbody th a:visited,
			.post-navigation a:hover, 
			.site-header .contact-info .contact-item i,
			.post-navigation .nav-previous a:hover:before, 
			.post-navigation .nav-next a:hover:after,
			.kyber-footer-widgets-wrapper .menu li a:before,
			.kyber-footer-widgets-wrapper .widget_contact i,
			.kyber-page-title .breadcrumb .current,
			.counter-style-1 .kyber-counter-number {color: #fd972e; }
                  
			.kyber-contact-box-style1 a:hover,
			.arrow-middle-right .owl-nav button:hover,
			.arrow-on-hover .owl-nav button:hover{background: #fd972e !important; }
            
            .owl-carousel .owl-nav button.owl-prev,
            .owl-carousel .owl-nav button.owl-next,
			.widget_recent_services ul li a:after,
			.single-service .item-download a:hover,
			.header-layout-2 .site-header a.search-icon.search-popup-modal:hover,
			.header-layout-2 .site-header .contact-info .contact-item i,
			.owl-dots .owl-dot.active,
			button.kyber-search-button,
			.kyber-year,
			.kyber-about-introbox:before,
			.kyber-video-box-style2.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner:hover .vc_icon_element-icon:before,
			.kyber-video-box-style2.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon:before,
			.kyber-video-box-style1 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner:hover .vc_icon_element-icon:before,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-title>a:before,
			.site-header ul.social-info li a:hover,
			.post.sticky .kyber-blog-classic-inner:after,
			.comment-list a.comment-reply-link,
			.related-posts.blog-style-1 .kyber-post-date,
			.kyber-blog-classic footer ul.social-share-icons a.icon-link,
			.kyber-blog-classic header .posted-on,
			.kyber-contact-box-style1:after,
			.site-header .kyber-header-button a,
			.kyber-video-box-style1 h5,
			.kyber-project-detail-title:before,
			.kyber-teammember-detail-title:before,
			.nav-links .page-numbers:hover,
			.nav-links .page-numbers.current,
			.widget h2.widget-title:before,
			.widget h2.widget-title:after,
			.widget_tag_cloud a:hover,
			.widget_search .search-submit,
			.testimonials-style-2 .owl-dots .owl-dot.active,
			.team-style-1 .kyber-teammember-social-profiles li a:hover,
			.projects-style-1 .kyber-project-action-icons i,
            .testimonials-style-1 .kyber-testimonial-image-container:before, 
            .services-btn a,
            .services-style-2 .kyber-service-date i, 
            .kyber_progress_bar_wrapper .kyber-progress-bar-inner, 
            .services-style-1 .kyber-service-date, 
            .infobox-style-4 .kyber-infobox-icon, 
            .infobox-style-2 .icon-number, 
            .kyber-infobox-icon:after, 
            .services-btn a, 
            .services-style-1 .kyber-service-date, 
            .services-style-2 .kyber-service-date i, 
            .kyber-teammember-link-profiles li a:hover,
			input[type=submit]:hover,
			.comment-list a.comment-reply-link,
			.site-header ul.social-info li a:hover,
			.header-layout-2 .site-header a.search-icon.search-popup-modal:hover,
			.header-layout-2 .site-header .contact-info .contact-item i,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-title>a:before,
			.owl-dots .owl-dot.active,
			button.kyber-search-button,
			.kyber-year,
			.kyber-about-introbox:before,
			.kyber-blog-classic footer ul.social-share-icons a.icon-link,
			.kyber-blog-classic header .posted-on,
			.site-header .main-navigation div > ul ul a:hover:before,
			.col-extend-right.extend-with-primary-bg:after,
			.vc_row.kyber-bg-color-primary,
			.wpb_column.kyber-bg-color-primary > .vc_column-inner,
			.site-header .kyber-header-button a,
			.services-style-1 .kyber-service-date,
			.infobox-style-1 .kyber-infobox-icon,
			.kyber-contact-info .wpcf7-submit,
			body .vc_btn3.vc_btn3-color-white:hover,
			body .vc_btn3.vc_btn3-color-white.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-tertiary:hover,
			body .vc_btn3.vc_btn3-color-tertiary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-secondary:hover,
			body .vc_btn3.vc_btn3-color-secondary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-primary,
			body .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat,
			.related-posts.blog-style-1 .kyber-post-date,
			.post.sticky .kyber-blog-classic-inner:after,
			.wp-block-tag-cloud a:hover,
			body.search input.search-submit,
			.comment-respond .comment-form input[type=submit],
			.blog-style-1 .kyber-post-date,
			.wp-block-button__link:hover{background-color: #fd972e; }

			.projects-style-1 .h-one,
			.projects-style-1 .h-two,
			.projects-style-1 .h-three,
			.projects-style-1 .h-four,
			.counter-style-3 .h-one,
			.counter-style-3 .h-two,
			.counter-style-3 .h-three,
			.counter-style-3 .h-four,
			.post.sticky .kyber-blog-classic-inner,
			.post.sticky .kyber-blog-classic-inner{border-color:#fd972e;}

			.arrow-middle-right .owl-nav button:hover,
			.arrow-middle-right .owl-nav button:hover{border-color:#fd972e !important; }

			.site-header-container.header-layout-1,
			.site-header .main-navigation div > ul > li > ul,
  			.site-header .main-navigation div > ul > li > ul ul {border-top-color:#fd972e;}


			.infobox-area:before,
			.team-style-1 .kyber-teammember-content-cover,
			.kyber-action-box a {border-bottom-color:#fd972e;}

			.kyber-blog-classic blockquote,
			.kyber-blog-classic blockquote {border-left-color:#fd972e;}

			.comment-list span.comment-author,
			.arrow-on-hover .owl-nav button i,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta.vc_general .vc_tta-panel-title>a:before,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta.vc_general .vc_tta-panel-title>a:before,
			.site-header .contact-list .contact-label,
			.kyber-project-detail-title,
			.kyber-teammember-detail-title,
			.kyber-teammember-link-profiles li a,
			.kyber-teammember-detail-title,
			.single-service .item-download a:hover span,
			.widget_recent_services ul li a,
			ul.wp-block-categories li span,
			.single-service .item-download a,
			blockquote,
			table th,
			table th a:hover,
			.widget_archive ul li span,
			.widget_categories ul li span,
			.kyber-progress-bar-title,
			.kyber-progress-bar-value,
			a,a:visited, h1, h2, h3, h4, h5, h6 {color: #09162a; }

			.wpb-js-composer .kyber-accordion-style-1 .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover,
			.kyber-accordion-style-1 .vc_tta-panel-heading:hover .vc_tta-panel-title>a,
			.kyber-accordion-style-1 .vc_tta-panel-title>a {color: #09162a !important; }

            .owl-carousel .owl-nav button.owl-prev:hover,
            .owl-carousel .owl-nav button.owl-next:hover,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a,
			.site-header-bottom.kyber-bg-color-secondary,
			.kyber-contact-info .wpcf7-submit:hover,
			.comment-list a.comment-reply-link:hover,
			.single-service .item-download a span,
			.widget_recent_services ul li:hover a:before,
			.widget_recent_services ul li a[aria-current="page"]:before,
			.site-main input.search-submit,
			.wp-block-tag-cloud a:hover,
			.services-btn a:hover,
			.team-style-1 .kyber-teammember-content-cover:before,
			.team-style-1 .kyber-teammember-social-profiles li a,
			.widget_recent_services ul li:hover a:before,
			.widget_recent_services ul li a[aria-current="page"]:before,
			.single-service .item-download a span,
			.comment-list a.comment-reply-link:hover,
			body .vc_btn3.vc_btn3-color-primary:hover,
			body .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-secondary,
			body .vc_btn3.vc_btn3-color-secondary.vc_btn3-style-flat,
			.kyber-contact-info .wpcf7-submit:hover,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a,
			.vc_row.kyber-bg-color-secondary,
			.site-header .kyber-header-button a:hover,
			.site-header .kyber-bg-color-secondary,
			body.search input.search-submit:hover,
			.comment-respond .comment-form input[type=submit]:hover,
			.wpb_column.kyber-bg-color-secondary > .vc_column-inner{background-color: #09162a; }

			.widget_recent_services ul li a:before,
			body .kyber-bg-color-secondary .vc_btn3.vc_btn3-color-primary:hover,
			body .kyber-bg-color-secondary .vc_btn3.vc_btn3-color-primary:focus,
			body .kyber-bg-color-secondary .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat:hover,
			body .vc_btn3.vc_btn3-color-tertiary,
			body .vc_btn3.vc_btn3-color-tertiary.vc_btn3-style-flat,
			.post-author-box,
			.site-header .main-navigation div > ul ul a:hover:before,
			.header-layout-2 .site-header-top > .d-flex:after,
			.kyber-extend-right-bg .kyber-extend-right-col:after,
			.kyber-contact-info .infobox-style-3 i:after,
			.wpb-js-composer .kyber-accordion-style-1 .vc_tta.vc_general .vc_tta-panel-title>a:before,
			body .owl-dots .owl-dot,
			.kyber-contact-info .infobox-style-3 i:after,
			.vc_row.kyber-bg-color-tertiary,
			.wpb_column.kyber-bg-color-tertiary > .vc_column-inner{background-color: #f5f5f5; }
			.kyber-page-title {height: 350px; }
			.site-header .site-logo img {min-height: 50px; }.kyber_custom_heading_wrapper .kyber-heading-title-wrapper .heading-title { font-family: Rajdhani;font-weight: 700;line-height: 52px;font-size: 45px; }.kyber_custom_heading_wrapper .kyber-heading-subtitle-wrapper .heading-subtitle { letter-spacing: 2px;line-height: 20px;font-size: 14px; }body { font-weight: 400;line-height: 24px;font-size: 16px; }h1 { font-family: Rajdhani;font-weight: 700;letter-spacing: 0px;line-height: 50px;font-size: 46px; }h2 { font-family: Rajdhani;font-weight: 700;letter-spacing: 0px;line-height: 46px;font-size: 40px; }h3 { font-family: Rajdhani;font-weight: 700;line-height: 42px;font-size: 36px; }h4 { font-family: Rajdhani;font-weight: 700;line-height: 36px;font-size: 30px; }h5 { font-family: Rajdhani;font-weight: 700;line-height: 30px;font-size: 26px; }h6 { font-family: Rajdhani;font-weight: 700;line-height: 26px;font-size: 22px; }